* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.add-income {
  margin: 50px 0;
}
.add-income input {
  width: 250px;
  border: none;
  background-color: #eee;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
}
.add-income input:focus {
  outline: 2px solid tomato;
}
.add-income button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}